:root {
    --logo-color: #95E1D3;
    --main-text-color: #B6B6B6;
    --title-color: #333;
}

body {
    font-family: "Montserrat", sans-serif;
}

.header {

}

.header__logo {
    color: var(--logo-color);
    font-size: 30px;
    font-weight: 700;
}

.header__nav {

}

.header__nav__list {

}

.header__nav-item {

}

.header__nav-link {

}
